extends layout

block content
  .flex.justify-center.items-center
    div
      h1.text-2xl.font-bold.mb-7= title

      form(action="", method="post")
        h2.text-lg Are you sure you want to delete #[strong #{ item.name }]?

        .mt-4.flex.gap-2
          a.bg-gray-200.font-bold.py-1.px-2.rounded-md(href=item.url) Cancel
          button.bg-red-700.text-white.font-bold.py-1.px-2.rounded-md(
            type="submit"
          )= title
