doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/stylesheets/output.css")
  body.bg-neutral-50
    header.sticky.top-0.px-4.py-3.flex.justify-between.gap-3.shadow-sm.font-bold.bg-neutral-50.border-b.border-b-slate-200
      a(href="/") Home

      nav.flex.gap-3
        a(href="/inventory") Inventory
        a(href="/inventory/item/create") Create item
        a(href="/inventory/category/create") Create Category

    .py-5.px-7.max-w-6xl.mx-auto
      block content
